<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript">
        $(function () {
            alert("ready");
        });
    </script>
</head>
<body>
<h1>
    เพื่อ ซายน์ และยูนะครับ
</h1>

<h3>
    <%= configuration %>
</h3>

<iframe width="853" height="480" src="https://www.youtube.com/embed/Xd_whS596q0??autoplay=1"
        frameborder="0" allowfullscreen>
</iframe>
<img src="/uploaded-files/2015/7/21/1437490318-Desert.jpg"/>
</body>
</html>